body {
    display: flex;
    flex-direction: column;    
    height: 100vh;    
    max-width: 1520px;
    margin: 0 auto;
}

header, footer {
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;        
    gap: 1rem;
}

article, aside {
    display: flex;    
    flex-direction: column;
}

.book-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
}

.heading-row {
    font-weight: bold;
}

.book-row > div {
    border: 1px solid gray;
    padding: 0.5rem;    
    width: 8rem;
}

.book-row > div > button {
    width: fit-content;
}

.hide {
    visibility: hidden;
}

fieldset {
    text-align: center;    
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap: 2rem;
}

li {
    list-style: none;
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    
    gap: 1rem;
}

input {
    height: 1.5rem;
}

button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
}

/* Input Validation Classes */

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid green;
}


.error {
    font-size: 12px;
    color: red;
}